.container {
    display: inline-flex;
    flex-direction: column;
}

.label {
    padding: 0 0 4px 8px;
}

.inputWrap {
    display: inline-flex;
    align-items: center;
    height: 48px;
    border: 2px solid #d3d4db;
    border-radius: 8px;
    transition: border-color 80ms ease;

    &.isFocused {
        border-color: #0b1013;
    }

    &.isDisabled {
        background: rgba(#d3d4db, 0.2);
        cursor: not-allowed;
    }
}

.input {
    flex: 1;
    height: 100%;
    padding: 12px;
    border: none;
    background: none;
    box-shadow: none;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &::placeholder {
        color: #858789;
    }
}
