.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1%;

    &.weight--medium {
        font-weight: 500;
    }

    &.weight--bold {
        font-weight: 600;
    }

    &.variant--display,
    &.variant--h1,
    &.variant--h2 {
        line-height: 1.5;
    }

    &.variant--display {
        font-size: 80px;
        font-weight: 700;
    }

    &.variant--h1 {
        font-size: 32px;
        font-weight: 700;
    }

    &.variant--h2 {
        font-size: 24px;
        font-weight: 600;
    }

    &.variant--caption {
        font-size: 14px;
    }

    &.variant--small {
        font-size: 12px;
    }

    &.variant--tiny {
        font-size: 10px;
    }
}
