.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    padding: 0;
    background: #fff;
    border: 2px solid #0b1013;
    border-radius: 4px;
    cursor: pointer;

    &[data-state='checked'] {
        background: #0b1013;
    }

    &:disabled,
    &[data-disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    &[data-state='checked'] {
        &:after {
            content: '✓';
        }
    }
}
